﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Data Collection Reporting System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/4.7.0-font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/jquery.datetimepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <img src="/Images/hme-logo.png" style="height: 60px;margin-right:20px;" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span class="navtitle">Data Collection Reporting System</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    @*@if (User.Identity.AuthenticationType != null && User.Identity.AuthenticationType.ToLower() == "cookies")
                        {
                            <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
                        }*@


                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="text-dark nav-link pointer" href="#" onclick="$('.sections').hide();$('.fpy').show();">FPY</a> @* nav-link  asp-area="" asp-controller="Home" asp-action="Index"*@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark pointer" href="#" onclick="$('.sections').hide();$('.failures').show();">Failures</a> @*asp-area="" asp-controller="Home" asp-action="Index"*@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark pointer" onclick="$('.sections').hide();$('.cpk').show();">Cpk</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Security" asp-action="LoginForm">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Security" asp-action="Logout" style="display:block;">Logout</a>
                            </li>*@
                    </ul>
                </div>
            </div>
            @if (User.Identity.AuthenticationType != null && User.Identity.AuthenticationType.ToLower() == "cookies")
            {
                <div><a class="nav-link text-dark" asp-area="" asp-controller="Security" asp-action="Logout" style="display:block;">Logout</a></div>
            }
        </nav>
    </header>
    <div class="container" style="width: 100%;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - HM Electronics. All rights reserved. @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script src="~/js/alasql.min.js" asp-append-version="true"></script>
    <script src="~/js/prototypes.js" asp-append-version="true"></script>
    <script src="~/js/site.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>
    @*<script src="~/js/bundle.min.js"></script>*@
    @*<link rel="stylesheet" href="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.css">
        <script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    @*<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>*@
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
