﻿
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="container container-table">
    <div id="Content" class="content-login">

        @using (Html.BeginForm("UserLogin", "Security", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            <div class="container container-table">
                <div id="Content" class="content-login">
                    @if (ViewBag.Error != null)
                    {
                        <div>@ViewBag.Error</div>
                    }
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <input type="text" maxlength="100" name="Username" class="form-control" value="" placeholder="User Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <input type="password" maxlength="16" name="Password" class="form-control" value="" placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <input type="submit" value="Login" class="btn btn-primary form-control btn-submit" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

