﻿ @model WebApplication3.Models.sqlModel.ConfModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome DB</h1>
    <h1 class="display-4">@Model.configuration["connectionStrings:AXWebPortal:"+ @Model.configuration["connectionStrings:AXWebPortal:Env"]]</h1>
</div>
