﻿@using DataCollectionReportingSystem.Classes 

@model DataCollectionReportingSystemDTO
@{
    ViewData["Title"] = "Home Page";
}


@*<h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
<script type="text/javascript">
    var datacollectionList = JSON.parse('@Html.Raw(ViewBag.DataCollection)');
    console.log(datacollectionList);
</script>

<div class="fpy sections">
    <div class="text-center">
        <h1>First Pass Yield Report</h1>
    </div>
    <div class="text-left">
        <div class="table-responsive" style="display: inline-block;">
            <table class="table table-borderless table-condensed  first-pass-dates">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Date Range:</td>
                        <td style="display:none"><div><input type="text" id="dummy1" class="dummy1 date-picker"></div></td>
                        <td><div><input type="text" id="FirstPassStartDate" class="FirstPassStartDate date-picker"></div></td>
                        <td><div><input type="text" id="FirstPassEndDate" class="FirstPassEndDate date-picker"></div></td>
                        <td><i class="fa fa-search"></i></td>
                        <td style="width:20px;"><i class="fa fa-gear fa-spin" style="font-size:15px;padding-left:5px;display:none;"></i></td>
                    </tr>
            </table>
        </div>
    </div>

    <div class="text-center">
        <div class="table-responsive" style="display: inline-block;">
            <table class="table table-borderless table-condensed table-hover fpy-table tbl-font-size">
                <thead>
                    <tr>
                        <th scope="col"><span class="sortable sort pointer" stype="string" obj="fpy" elm="testType">Test Type</span></th>
                        <th scope="col" style="text-align:left"><span>Part Number</span><span class="sortable desc pointer" obj="fpy" stype="string" elm="partNum"></span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="string" obj="fpy" elm="partRev">Part Rev</span></th>
                        <th scope="col" style="text-align:left"><span class="sortable sort pointer" stype="string" obj="fpy" elm="partDesc">Part Desc</span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="int" obj="fpy" elm="passQty">Pass Qty</span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="int" obj="fpy" elm="failQty">Fail Qty</span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="int" obj="fpy" elm="totalQty">Total</span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="percent" obj="fpy" elm="fpyate">FPY</span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FirstPass fpy in Model.fpy)
                        {
                    <tr>
                        <td>@fpy.testType</td>
                        <td style="text-align:left"><a href="*" onclick="$('.fpy .fa-spin').show();return failures('@fpy.partNum');">@fpy.partNum </a></td>
                        <td>@fpy.partRev</td>
                        <td style="text-align:left">@fpy.partDesc.Replace("~", "'")</td>
                        <td>@fpy.passQty</td>
                        <td>@fpy.failQty</td>
                        <td>@fpy.totalQty</td>
                        <td>@fpy.fpyate</td>
                    </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="failures sections" style="display:none;">
    <div class="text-center">
        <h1>Step Failure Reports</h1>
        <dev>By Part Number</dev>
    </div>
    <div class="text-left">
        <div>Part Number: <input type="text" style="width: 100px; height: 20px; font-size: 10px; " class="failure-partnumber"></div>
        <div class="table-responsive" style="display: inline-block;">
            <table class="table table-borderless table-condensed first-pass-dates">
                @*table-hover*@
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Date Range:</td>
                        <td style="display:none"><div><input type="text" id="dummy2" class="dummy2 date-picker"></div></td>
                        <td><div><input type="text" id="FailureStartDate" class="FailureStartDate date-picker"></div></td>
                        <td><div><input type="text" id="FailureEndDate" class="FailureEndDate date-picker"></div></td>
                        <td><i class="fa fa-search"></i></td>
                        <td style="width:20px;"><i class="fa fa-gear fa-spin" style="font-size:15px;padding-left:5px;display:none;"></i></td>
                    </tr>
            </table>
        </div>
    </div>

    <div class="text-center">
        <div class="table-responsive" style="display: inline-block; position: relative">
            <table class="table table-borderless table-condensed table-hover failures-table tbl-font-size">
                <thead>
                    <tr>
                        <th scope="col"><span class="sortable sort pointer" stype="string" obj="failures" elm="testType">Test Type</span></th>
                        <th scope="col" style="text-align:left"><span class="sortable desc pointer" stype="string" obj="failures" elm="partNum">Part Number</span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="string" obj="failures" elm="partRev">Part Rev</span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="string" obj="failures" elm="serialNum">Serial Number</span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="int" obj="failures" elm="testStep">Test Step</span></th>
                        <th scope="col" style="text-align:left"><span class="sortable sort pointer" stype="string" obj="failures" elm="testName">Test Name</span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="string" obj="failures" elm="pass_Fail">Status</span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="int" obj="failures" elm="lowerLimit">Lower Limit</span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="int" obj="failures" elm="upperLimit">Upper Limit</span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="string" obj="failures" elm="measValue">MeasValue</span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="string" obj="failures" elm="units">Units</span></th>
                        <th scope="col"><span class="sortable sort pointer" stype="date" obj="failures" elm="testDate">Test Date</span></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>


</div>

<div class="cpk sections" style="display:none;">
    <div class="text-center" style="padding-bottom:50px;">
        <h1>Daily Cpk Report</h1>
        <div style="font-style: italic;">By Part Number</div>
        <div>Cpk is a statistical index that measures process capability.<br />Target value is 1.33 or higher</div>
    </div>
    <div class="text-left">
        <div>Part Number: <input type="text" style="width: 100px; height: 20px; font-size: 10px; " class="cpk-partnumber"></div>
        <div class="table-responsive" style="display: inline-block;">
            <table class="table table-borderless table-condensed table-hover first-pass-dates">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Date Range:</td>
                        <td style="display:none"><div><input type="text" id="dummy3" class="dummy3 date-picker"></div></td>
                        <td><div><input type="text" id="cpkStartDate" class="cpkStartDate date-picker"></div></td>
                        <td><div><input type="text" id="cpkEndDate" class="cpkEndDate date-picker"></div></td>
                        <td><i class="fa fa-search"></i></td>
                        <td style="width:20px;"><i class="fa fa-gear fa-spin" style="font-size:15px;padding-left:5px;display:none;"></i></td>
                    </tr>
            </table>
        </div>
    </div>

    <div class="text-center">
        <div class="table-responsive" style="display: inline-block;">
                <table class="table table-borderless table-condensed table-hover cpk-table tbl-font-size">
                    <thead>
                        <tr>
                            <th scope="col"><span class="sortable desc pointer" stype="string" obj="cpk" elm="partNum">Part Number</span></th>
                            <th scope="col"><span class="sortable sort pointer" stype="int" obj="cpk" elm="testStep">Test Step</span></th>
                            <th scope="col" style="text-align:left"><span class="sortable sort pointer" stype="string" obj="cpk" elm="testName">Test Name</span></th>
                            <th scope="col"><span class="sortable sort pointer" stype="float" obj="cpk" elm="ll">Lower Limit</span></th>
                            <th scope="col"><span class="sortable sort pointer" stype="float" obj="cpk" elm="ul">Upper Limit</span></th>
                            <th scope="col"><span class="sortable sort pointer" stype="string" obj="cpk" elm="units">Units</span></th>
                            <th scope="col"><span class="sortable sort pointer" stype="float" obj="cpk" elm="cpk">Cpk Value</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
        </div>
    </div>
</div>
